<div class="card text-white @(Room.StyleClass ?? "bg-secondary") mb-3 mx-2" style="max-width: 18rem;">
    <div class="card-header">@Room.Name</div>
    <div class="card-body">
        <div class="col-12">
            Msgs go here
        </div>
    </div>
    <div class="card-footer">
        <input type="text" class="form-control"/>
    </div>
</div>