@page "/"
@page "/home"
@inject IJSRuntime _jSRuntime

<div id="welcome-message-container" class="d-flex align-items-center justify-content-center flex-column">
        <h2>Welcome to XChat</h2>
        <p>Navigate to chat page to enjoy :)</p>
</div>
